# Domoticz Conf file for Domoticz BASH Scipts by DaKarlii https://github.com/DaKarlii
# Domoticz Server Settings
SERVER='domoticz.home.local:8080/'                      		# Domoticz Server Url


# Global Settings (Dont Change if you dont know what you do)
SERVER_CMD='json.htm?type=command&param=udevice&'           	# changes only Value but dont triggers an action
SWITCH_CMD='json.htm?type=command&param=switchlight&'       	# changes Value and triggers the action directly 
READST_CMD='json.htm?type=devices&rid='

# Settings for Deymoticz.sh
pythonpath='/usr/local/bin/python3.10'                          # Change to your Installed Python Version
IPMODUL='solarmodul.home.local'                                 # IP or FQDN of Deye Logger
MODULIDX=12x        # General Switch to check Wifi reachability of the Logger
RUSTATEIDX=1xx      # General Text for Inverter Status 
DAILYPOIDX=1xx      # General Counter for Daily Production
TOTALPOIDX=1xx      # General Counter for Total Production
TOTAPO1IDX=1xx      # General Counter for Total Production of Modul 1
TOTAPO2IDX=1xx      # General Counter for Total Production of Modul 2
OUTVOLTIDX=1xx      # General Voltage for Inverter Output 
ACCURROIDX=1xx      # General Current for Inverter Output
OUTFREQIDX=1xx      # General Custom Sensor - Value "hz" For Inverter Output Frequenzy
CUPOWROIDX=1xx      # Usage Electric for current Power
DC1TEMPIDX=1xx      # Temp LaCrosseTX for Inverter Temp
PV1VOLTIDX=1xx      # General Voltage for Modul1      
PV1CURRIDX=1xx      # General Current for Modul1   
PV2VOLTIDX=1xx      # General Voltage for Modul2
PV2CURRIDX=1xx      # General Current for Modul2 
DAILPO1IDX=1xx      # General Counter for Daily Production of Modul 1
DAILPO2IDX=1xx      # General Counter for Daily Production of Modul 2
EFFICENIDX=1xx      # General Percentage for PV efficiency

# END
